{% extends "base.html" %}

{% block content %}
{% load static %}
{% load widget_tweaks %}

<div class="container mt-5">
    <h1>{{ curso.nome }}</h1>

    <h2>Materiais</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Descrição</th>
                <th>Tipo</th>
                <th>Arquivo</th>
            </tr>
        </thead>
        <tbody>
            {% for material in materiais %}
            <tr>
                <td>{{ material.nome }}</td>
                <td>{{ material.descricao }}</td>
                <td>{{ material.get_tipo_display }}</td>
                <td><a href="{{ material.arquivo.url }}" class="btn btn-info btn-sm" target="_blank">Abrir</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% if perms.materiais.add_material %}
    <button id="add-material-btn" class="btn btn-primary mt-4">Adicionar Material</button>

    <div id="add-material-form" class="mt-4" style="display: none;">
        <h2>Adicionar Material</h2>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="mb-3">
                <label for="id_nome" class="form-label">{{ material_form.nome.label }}</label>
                {{ material_form.nome|add_class:"form-control" }}
            </div>
            <div class="mb-3">
                <label for="id_descricao" class="form-label">{{ material_form.descricao.label }}</label>
                {{ material_form.descricao|add_class:"form-control" }}
            </div>
            <div class="mb-3">
                <label for="id_tipo" class="form-label">{{ material_form.tipo.label }}</label>
                {{ material_form.tipo|add_class:"form-select" }}
            </div>
            <div class="mb-3">
                <label for="id_arquivo" class="form-label">{{ material_form.arquivo.label }}</label>
                {{ material_form.arquivo|add_class:"form-control" }}
            </div>
            <button type="submit" class="btn btn-primary">Adicionar</button>
        </form>
    </div>
</div>
{% endif %}

<script src="{% static 'js/curso_detail.js' %}"></script>
{% endblock %}